
body 
{
	padding: 0px;
	margin: 0px;
	background-color: #f0f0f0;
}

html, body
{
	min-width: 300px;
	width: 100%;
	height: 100%;
}

#app
{
	text-align: center;
	line-height: 30px;

	cursor: pointer;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none; 
	-moz-user-select: none;
	-ms-user-select: none; 
	user-select: none; 

	width: 100%;
	height:100%;
	position:absolute;
	top:0px;
	bottom:0px;
}

#inner
{
	position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -15px;
    width: 500px;
    font-size: 29px;
}

.isGetready 
{
	background-color: #ff7171;
	color: #FFF;
}

.isReady
{
	background: #00c100;
	color: #FFF;
}

@media (max-width: 690px) 
{
	#inner
	{
		width: 300px;
		max-width: 100%;
		margin-left: -150px;
		font-size: 1em;
	}
}